# Production:
#NEXT_PUBLIC_WEB_URL=https://keyhq.parmjeetmishra.com
#NEXT_PUBLIC_SERVER_URL=https://keyhq-api.parmjeetmishra.com
#NEXT_PUBLIC_DASHBOARD_URL=https://dashboard-keyhq.parmjeetmishra.com
#NEXT_PUBLIC_TENANT_URL=https://tenant-keyhq.parmjeetmishra.com

# Local:
NEXT_PUBLIC_WEB_URL=http://localhost:3001
NEXT_PUBLIC_SERVER_URL=http://localhost:8787
NEXT_PUBLIC_DASHBOARD_URL=http://localhost:3002
NEXT_PUBLIC_TENANT_URL=http://localhost:3003
